{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}
  {% if request.user.is_authenticated %}
    {% if request.user == object.owner %}
      <section class='qr-code'>
        {{ qr }}
      </section>

      <invite-owner-view path='{% url "api:invite-detail" pk=object.pk %}'>
      </invite-owner-view>

      <h1>TODO</h1>
      <ul>
        <li>Edit which circle invite points to</li>
        <li>Edit message</li>
        <li>Expire invites</li>
        <li>Extend invite expiration</li>
        <li>Delete invite</li>
      </ul>
    {% else %}
      <h1>TODO</h1>
      <ul>
        <li>Message</li>
        <li>Accept invite button</li>
      </ul>
    {% endif %}
  {% else %}
    {% if object.owner_name %}
      {{ object.owner_name }}
    {% else %}
      {% trans 'An anonymous user' %}
    {% endif %}

    {% comment %}TODO Make "Log in" and "sign up" into links{% endcomment %}
    {% trans 'has invited you to connect with them. Log in or sign up to accept the invite!' %}
  {% endif %}
{% endblock %}
