{% load static %}
<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Libre Social</title>

    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css2?family=Work+Sans' />
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css2?family=Rasa' />

    <link rel='stylesheet'
          href='{% static "core/global.css" %}' />
    <link rel='stylesheet'
          href='{% static "core/base.css" %}' />
    <link rel='stylesheet'
          href='{% static "core/component.css" %}' />

    <script src='https://unpkg.com/commonmark@0.30.0/dist/commonmark.js' crossorigin></script>

    <script src='{% static "core/components.js" %}' type='module'></script>
  </head>

  <body>
    <header>
      <nav>
        <a href='/'>Home</a>
        <a href='{% url "donate" %}'>Donate</a>
      </nav>

      {% if request.user.is_authenticated %}
        <nav>
          <span>Logged in as <a href='{% url "me" %}'>{{ request.user.username }}</a>.</span>
          <a href='{% url "settings" %}'>Settings</a>
          <a href='{% url "logout" %}'>Log out</a>
        </nav>
      {% else %}
        <nav>
          <a href='{% url "login" %}'>Log in</a>
          <a href='{% url "register" %}'>Register</a>
        </nav>
      {% endif %}
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>
      Powered by love.

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M20.42 4.58a5.4 5.4 0 0 0-7.65 0l-.77.78-.77-.78a5.4 5.4 0 0 0-7.65 0C1.46 6.7 1.33 10.28 4 13l8 8 8-8c2.67-2.72 2.54-6.3.42-8.42z" />
      </svg>
    </footer>

    {% block after %}
    {% endblock %}
  </body>
</html>

