{% extends 'core/base.html' %}

{% block main %}
  <p>
    I built this website as a response to the problems I see with social
    media, such as:
  </p>

  <ul>
    <li>Companies selling your data.</li>
    <li>Addictive patterns (those red notification icons).</li>
    <li>Contact with too many people leading to conflict.</li>
    <li>Default opt-in to unwanted "services" like email notifications.</li>
    <li>Forcing users to share data in order to use services.</li>
    <li>Making it difficult for users to control who can see their data.</li>
    <li>Making it difficult for users to delete their accounts.</li>
  </ul>

  <p>
    In her book <em>The Age of Surveillance Capitalism</em>, Shoshana Zuboff
    tells the history of Google in the year 2000 (which I'll summarize in
    my own words here). Up to this point, Google's motto had been "Don't be
    evil.", and they mostly stuck to it, only collecting data so they could
    use it to personalize search results and make them more useful. But Google
    hadn't found a way to make money at this point, and with bursting of the
    dotcom bubble, investor capital to cover their operating expenses was
    drying up rapidly. Google was faced with a choice: compromise on their
    values, or stop existing. They chose to compromise on their values, and
    the rest is history. And many other social media companies followed their
    lead.
  </p>

  <p>
    I've seen this pitfall in a lot of organizations: they start with good
    intentions, but challenges come along which threaten the existence of
    their organization, and because they believe the organization is good,
    they make compromises to keep the organization going. The first time it
    happens, maybe it makes sense, and the organization remains a net
    positive. But over time, these compromises add up until the organization
    no longer resembles its original values.
  </p>

  <p>
    I knew from the beginning that I would have to avoid this pitfall.
    Promises from a stranger on the internet aren't worth much, but for what
    it <em>is</em> worth, if I am faced with the decision of compromising my
    values for this website or shutting it down, I'll shut it down.
  </p>

  <p>
    But ideally, I'd like to build something that is resilient to those
    challenges. As such, the way I'd like to run this website is to keep the
    team small and inexpensive, and only accept money from the people this
    website serves: our users. I want this website to always be free so that
    everyone can use it, but if people like what I'm doing I'd appreciate if
    they'd support it.
  </p>

  <p>
    For now it's just one person (me!) working on this, and it's running on
    an inexpensive server, so I'm able to cover the expenses out of my own
    pocket, and don't need to accept donations. But if the time comes that
    this starts getting more expensive, I hope you'll consider donating.
  </p>

  <p>
    Thanks,
  </p>

  <p>
    David Kerkeslager
  </p>
{% endblock %}
