{% extends 'core/base.html' %}

{% block main %}
  {% if request.user.is_authenticated %}
    {% for circle in request.user.circles.all %}
      <a href='{{ circle.get_absolute_url }}'>
        <div style='display: flex; align-items: center; gap: 1rem;'>
          <circle-icon style='border-color: #{{circle.color}};'></circle-icon>
          <h2>{{ circle.name }}</h2>
        </div>
      </a>
    {% empty %}
      You don't have any circles.
    {% endfor %}
  {% else %}
    Hello there!
  {% endif %}
{% endblock %}

